#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.application__name h3 {
    color: #fff;
    position: absolute;
    margin-left: 35%;
    top: -30px;
    z-index: 10000;
    line-height: 25px;
    padding: 5px 20px;
}

#user-inputs {
    display: block;
    position: absolute;
    top: 85px;
    left: 20px;
    width: 320px;
    height: 440px;
    background: #ccf;
    opacity: .6;
    z-index: 10000;
    transition: .3s;
    font-family: Segoe UI;
}

.user-inputs__header {
    text-align: center;
    margin-bottom: 20px;
}

#user-inputs input {
    width: 250px;
    height: 40px;
    margin: 15px 0 0 35px;
    line-height: 40px;
    font-size: 24px;
    text-indent: 10px;
}

#user-inputs:hover {
    opacity: .9;
}

#user-inputs #Time {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    display: inline-block;
    line-height: 25px;
    margin-left: 3px;
}

#user-inputs label {
    line-height: 25px;
}

#pilot-rank {
    display: block;
    width: 250px;
    height: 40px;
    margin-left: 35px;
    font-size: 22px;
    text-indent: 10px;
    margin-top: 20px;
}

#airplaine-class {
    display: block;
    width: 250px;
    height: 40px;
    margin-left: 35px;
    margin-top: 10px;
    font-size: 22px;
    text-indent: 10px;
}

#send-data {
    width: 200px;
    height: 50px;
    margin: 30px 60px;
}

#system-output {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 350px;
    height: 530px;
    background: #ccf;
    opacity: .8;
    z-index: 10000;
    transition: .3s;
    font-family: Segoe UI;
}

    #system-output:hover {
        opacity: 1;
    }

#save-data {
    width: 200px;
    height: 50px;
    margin: 90px 80px;
}

#system-output input {
    display: block;
    width: 300px;
    height: 25px;
    margin: 2px auto;
    line-height: 40px;
    font-size: 18px;
    text-indent: 10px;
}

#system-output label {
    display: block;
    width: 50px;
    margin: 5px auto;
}

#weather {
    width: 300px;
    height: 50px;
    margin-left: 25px;
    resize: none;
}

#system-result {
    text-transform: uppercase;
    display: block;
    width: 285px;
    margin: 10px auto;
    position: relative;
    bottom: 215px;
    right: -6px;
    font-size: 28px;
    background: #9f9;
    text-align: center;
    font-weight: bold;
}

.req-star {
    font-size: 28px;
    color: #f00;
}

.application__author {
    color: #ccf;
    background: #777;
    opacity: .8;
    position: absolute;
    margin-left: 40%;
    bottom: 10px;
    z-index: 10000;
    text-transform: uppercase;
    font-family: Segoe Print;
    font-size: 14px;
    padding: 0 10px;
}
